.number {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid red;
  background-color: gray;
  cursor: pointer;
}

.number:active {
  will-change:auto;
  position: unset;
}